<div class="newExercise">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-danger" ng-click="redirect('exercises')">Tilbake</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input class="form-control" ng-model="exerciseName" placeholder="Navn">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" ng-click="addExercise()">Legg til</button>
        </div>
    </div>
</div>