<div class="exercise">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-danger" ng-click="redirect('menu')">Tilbake</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" ng-click="redirect('addExercise')">Ny Øvelse</button>
        </div>
    </div>

    <div class="row" ng-repeat="exercise in exercises">
        <div class="col-xs-12">
            <button class="btn btn-default">{{exercise.name}}</button>
        </div>
    </div>
</div>
