
<div class="menu midnight-blue-flat-button">
    <div class="home-btn nephritis-flat-button" ng-click="redirect('nothing')">
        Home
    </div>
    <div class="exercises-btn nephritis-flat-button" ng-click="redirect('exercises')">
        Ex.
    </div>
</div>

<div class="home">
    <div class="btn-group">
        <button class="btn btn-green" id="calendar-view-btn" ng-click="setView('calendar')">Calendar</button>
        <button class="btn btn-green pressed" id="list-view-btn" ng-click="setView('list')">List</button>
    </div>
    <div class="calendar-view" ng-show="isCalendarView">
        <h2>Calendar View</h2>
    </div>
    <div class="container list-view" ng-hide="isCalendarView">
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
        <div class="session row">
            <div class="date col-xs-2">
                <p class="day">12</p>
                <p class="month">December</p>
                <p class="year">2013</p>
            </div>
            <div class="info col-xs-10">

            </div>
        </div>
    </div>
</div>

<div class="new-session-btn nephritis-flat-button" ng-click="redirect('/newSession')">
    + new session
</div>