<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Name</h3>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <input type="text" class="form-control" ng-model="newExercise.name" />
                <p ng-show="error">Please enter the name of the exercise.</p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="nephritis-flat-button" value="Add" />
            </div>
        </form>
    </div>
</div>