<div class="container exercises">
    <div class="row">
        <button class="pomegranate-flat-button" ng-click="redirect('newSession')">Cancel</button>
    </div>
    <div class="row add">
        <button class="nephritis-flat-button" ng-click="redirect('addExercise')">New Exercise</button>
    </div>
    <div class="list">
        <div class="row" ng-repeat="exercise in exercises">
            <button class="clouds-flat-button" ng-click="setExercise(exercise)">{{exercise.name}}</button>
        </div>
    </div>
</div>
