<div class="menu midnight-blue-flat-button">
    <div class="home-btn nephritis-flat-button" ng-click="redirect('nothing')">
    </div>
    <div class="exercises-btn nephritis-flat-button" ng-click="redirect('exercises')">
    </div>
    <div class="save-btn nephritis-flat-button" ng-click="save()">
    </div>
</div>

<div class="new newSession">
    <div class="title row">
        <div class="date col-xs-2">
            <p class="day">12</p>
            <p class="month">December</p>
            <p class="year">2013</p>
        </div>
        <div class="info col-xs-10">
            Name of session
            <input class="form-control" value="Workout #46"/>
        </div>
    </div>
    <div class="new-session-btn nephritis-flat-button" ng-click="redirect('/newSession')">
        + new exercise
    </div>
    <div class="list-view">
        <div id="accordion">
            <button class="exerciseName midnight-blue-flat-button">Knebøy</button>
            <div class="">
               Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Markløft</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Push-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
            <h3 class="exerciseName midnight-blue-flat-button">Sit-Ups</h3>
            <div>
                Info <br> Info <br> Info<br> Info<br> Info<br> Info<br> Info<br> Info
            </div>
        </div>
    </div>
</div>


