<div class="menu midnight-blue-flat-button">
    <div class="home-btn nephritis-flat-button" ng-click="redirect('nothing')">
        Home
    </div>
    <div class="exercises-btn nephritis-flat-button" ng-click="redirect('exercises')">
        Ex.
    </div>
</div>

<div class="new newSession">
    <div class="session">
        <div class="date col-xs-2">
            <p class="day">12</p>
            <p class="month">December</p>
            <p class="year">2013</p>
        </div>
        <div class="title col-xs-10">
            <input class="form-control" value="Workout #46"/>
        </div>
    </div>
</div>