/* COLORS */
@mainBlue: #4a91cb;
@lightBlue: #caf0f7;
@red: #dd2730;
@lightBrown: #f7eee3;
@white: #fff;
@mainBlue-shade1: (@mainBlue - #111 );
@mainBlue-shade2: (@mainBlue - #222 );

/* HANDY STYLING*/

body {
  background-color: white;
}

/* HOME */
.menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: red;
  .home-btn {
    height: 100%;
    margin-left: 10px;
    width: 100px;
  }
  .exercises-btn {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    margin-left: 10px;
    left: 110px;
  }
}
.home {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  text-align: center;
  .btn-group {
    height: 15%;
    width: 80%;
    padding-top: 10px;
    display: inline-block;
    .btn-green {
      width: 50%;
      background-color: white;
      color: #2c3e50;
      border: #2c3e50 1px solid;
    }
    .btn-green.pressed {
      width: 50%;
      background-color: #2c3e50;
      color: white;
    }
  }
  .list-view {
    border-top: 1px #2c3e50 solid;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 85%;
    padding-bottom: 50px;
    .session {
      margin-top: 5px;
      padding-bottom: 5px;
      padding-right: 50px;
      border-bottom: 1px #2c3e50 dotted;
      .date {
        width: 20%;
        height: 60px;
        .day {
          font-size: 26px;
          margin: 0 auto;
        }
        .month {
          font-size: 8px;
          margin: 0 auto;
        }
        .year {
          font-size: 8px;
          margin: 0 auto;
        }
      }
      .info {
        position: absolute;
        left: 20%;
        width: 77%;
        height: 60px;
        border: 1px solid #2c3e50;
        border-radius: 5px;
      }
    }
  }
}
.new-session-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10%;
  padding-top: 10px!important
}
/********/

/* NEW SESSION */
.newSession {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  .session {
    height: 70px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    border-bottom: 1px #2c3e50 dotted;
    .date {
      width: 20%;
      height: 60px;
      .day {
        font-size: 26px;
        margin: 0 auto;
      }
      .month {
        font-size: 8px;
        margin: 0 auto;
      }
      .year {
        font-size: 8px;
        margin: 0 auto;
      }
    }
    .title {
      position: absolute;
      left: 20%;
      width: 77%;

      input {
        font-size: 20px;
        height: 60px;
      }
      height: 60px;

    }
  }
}


/********/

.modal {
  display: block;
  .form-control {
    height: 40px;
  }
  p {
    color: red;
    margin-top: 10px;
  }
  .modal-footer {
    margin-top: 0px;
  }
}

.newExerciseDetails {
  text-align: center;
  .name {
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
  }
  .sets {
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    input{
      height: 40px;
      width: 20%;
      font-size: 20px;
      display: inline-block;
      text-align: center;
    }
  }
  .set {
    height: 130px;
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    input{
      height: 40px;
      width: 30%;
      font-size: 20px;
      display: inline-block;
      text-align: center;
    }
    #weight {
      position: absolute;
      right: 30%;
    }
    #rep {
      position: absolute;
      left: 30%;
    }

  }
  .type {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
    .btn-group {
      text-align: center;
      display: inline-block;
      width: 70%;
      .btn {
        width: 50%;
        height: 40px;
      }
    }
  }
  .type2{
    margin-bottom: 20px;
  }
}

/* Buttons */

.nephritis-flat-button {
//  position: relative;
  vertical-align: top;
  width: 100%;
//  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
.nephritis-flat-button:active {
  bottom: -1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.midnight-blue-flat-button {
//  position: relative;
  vertical-align: top;
  width: 100%;
//  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
.midnight-blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.clouds-flat-button {
//  position: relative;
  vertical-align: top;
  width: 100%;
//  height: 60px;
  padding: 0;
  font-size: 20px;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}
.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pomegranate-flat-button {
//  position: relative;
  vertical-align: top;
  width: 100%;
//  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b53224;
  box-shadow: inset 0 -2px #b53224;
}
.pomegranate-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wet-asphalt-flat-button {
//position: relative;
  vertical-align: top;
  width: 100%;
//  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
}
.wet-asphalt-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
