/* COLORS */
@mainBlue: #4a91cb;
@lightBlue: #caf0f7;
@red: #dd2730;
@lightBrown: #f7eee3;
@white: #fff;
@mainBlue-shade1: (@mainBlue - #111 );
@mainBlue-shade2: (@mainBlue - #222 );

/* HANDY STYLING*/

body {
  background-color: white;
}
.menu {

}

.modal {
  display: block;
  .form-control {
    height: 40px;
  }
  p {
    color: red;
    margin-top: 10px;
  }
  .modal-footer {
    margin-top: 0px;
  }
}

.newExerciseDetails {
  text-align: center;
  .name {
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
  }
  .sets {
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    input{
      height: 40px;
      width: 20%;
      font-size: 20px;
      display: inline-block;
      text-align: center;
    }
  }
  .set {
    height: 130px;
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    input{
      height: 40px;
      width: 30%;
      font-size: 20px;
      display: inline-block;
      text-align: center;
    }
    #weight {
      position: absolute;
      right: 30%;
    }
    #rep {
      position: absolute;
      left: 30%;
    }

  }
  .type {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
    .btn-group {
      text-align: center;
      display: inline-block;
      width: 70%;
      .btn {
        width: 50%;
        height: 40px;
      }
    }
  }
  .type2{
    margin-bottom: 20px;
  }
}

/* Buttons */

.nephritis-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
.nephritis-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.midnight-blue-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
.midnight-blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.clouds-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 20px;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}
.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pomegranate-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b53224;
  box-shadow: inset 0 -2px #b53224;
}
.pomegranate-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wet-asphalt-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
}
.wet-asphalt-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}